extends ./global

append vars
  - pageId = "exercise1-2"

append header
  h1
    span Exercise 1-2:
    | Random walker with probability

block notes_content
  p There is a 30% probability that this walker will move down; a 30% probability it will move right, and a 20% / 20% probability that it will move left or up, respectively.