extends ./global

append vars
  - pageId = "exercise1-1"

append header
  h1
    span Exercise 1-1:
    | Title of exercise

append notes_content
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa labore praesentium reprehenderit, nesciunt commodi consequuntur eveniet totam. Doloribus optio doloremque adipisci dolores tempora corporis! Inventore officia veniam veritatis quia consectetur.