extends ./global

append header
  h1 Overview
  p To view an exercise, select one from the menu above.
  p Check out the source code on #[a(href="https://github.com/andrewrubin/nature-of-code") GitHub].

block content

block notes