mixin nav-item(item)
  - let { name, id } = item;
  -
    let classAttrs = {
      "nav__item--current": id === pageId
    };

  li.nav__item(class=classAttrs)
    a(href=`${id}.pug`)
      != name

-
  const navItems = [
    { name: "Index", id: "index" },
    { name: "Exercise 1-1: Random walker", id: "exercise1-1" },
    { name: "Exercise 1-2: Random walker with probablilty", id: "exercise1-2" },
  ]

nav.nav(aria-label="Main navigation")
  button.nav__toggle(aria-expanded="false") Toggle all exercises 
  span#exercises-label.visually-hidden Choose exercise
  ul#exercises.nav__list(aria-labelledby="exercises-label")
    each item in navItems
      +nav-item(item)